<img class="mt-5" src="assets/tanla_bg_logo.png" alt="">
<div class="login_container">
  <div class="row contain">
    <div class="col-lg-3 col-md-6"></div>
    <div
      class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-container"
      style="background-color: white"
    >
      <img class="mb-5"
        src="./assets/tanla_logo.png"        
      />
      <div class="text-center">
          <img class="img-fluid" alt="Responsive image" src="assets/tanla_success.png" alt="">
      </div>
      <br>
      
        
          
            <div class="text-center label">Success</div>
            <div>Your password has been changed successfully</div>
            <br>
            <div class="col-md-12 text-center">
              <button
                type="submit" (click)="submit()"
                class="btn submit-btn mb-3"
              >
                Login Now
              </button>
            </div>
          
        
    </div>
  </div>
  
</div>
<div class="mb-3 footer"><b>© Copyright 2022, Tanla, all rights reserved</b></div>