<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h1 class="text-center" style="color: blue" mat-dialog-title>
  {{ data ? "Modify" : "Create" }} User
</h1>
<form [formGroup]="fg" (ngSubmit)="saveUser(data)">
  <mat-dialog-content class="mat-typography">
    <div class="container row">
      <div class="form-group col-6">
        <label for="username">
          <h2 style="font-size: 1rem; margin: 0 0 8px">User
            Name:</h2>
        </label>
        <input type="text" class="form-control" id="username" placeholder="User Name" formControlName="userName" />
      </div>
      <br />
      <div class="form-group col-6">
        <label for="email">
          <h2 style="font-size: 1rem; margin: 0 0 8px">Email
            ID:</h2>
        </label>
        <input type="text" class="form-control" id="email" placeholder="Email ID" formControlName="emailId"
          [readonly]="data ? true : false" />
      </div>
      <br />
      <div class="form-group col-6">
        <label for="Mobile No">
          <h2 style="font-size: 1rem; margin: 0 0 8px">Mobile No:</h2>
        </label>
        <input type="text" class="form-control" id="mobile" placeholder="Mobile No" formControlName="mobileNumber" />
      </div>
      <br />
      <div class="form-group col-6">
        <label for="Employee">
          <h2 style="font-size: 1rem; margin: 0 0 8px">Employee No:</h2>
        </label>
        <input type="text" class="form-control" id="Employee"
          placeholder="Employee No" formControlName="employeeNo"
          [readonly]="data ? true : false" />
      </div>
      <br />
      <div class="form-group col-6">
        <label for="Department">
          <h2 style="font-size: 1rem; margin: 0 0 8px">Department:</h2>
        </label>
        <input type="text" class="form-control" id="Department"
          placeholder="Department" formControlName="department" />
      </div>
      <br />
      <div class="form-group col-6">
        <label for="Designation">
          <h2 style="font-size: 1rem; margin: 0 0 8px">Designation:</h2>
        </label>
        <input type="text" class="form-control" id="Designation"
          placeholder="Designation"
          formControlName="designation" />
      </div>
      <br />
      <div *ngIf="data" class="form-group col-6">
        <label for="status">
          <h2 style="font-size: 1rem; margin: 0 0 8px">User
            status:</h2>
        </label>
        <select class="form-control form-select mb-3" id="status"
          (change)="showReason($event)">
          <option [selected]="status === '1'" value="1">Activate</option>
          <option [selected]="status === '2'" value="2">Deactivate</option>
        </select>
      </div>
      <br />
      <div *ngIf="data && reason" class="form-group col-6">
        <label for="reason">
          <h2 style="font-size: 1rem; margin: 0 0 8px">Reason:</h2>
        </label>
        <input type="text" class="form-control" id="reason" placeholder="Reason"
          formControlName="reason" />
      </div>
      <br>
      <div class="form-group col-6">
        <label for="role">
          <h2 style="font-size: 1rem; margin: 0 0 8px">Role:</h2>
        </label>
        <ng-select [items]="roleList"
                   [multiple]="false"
                   [ngModelOptions]="{standalone: true}"
                   placeholder="Select role"
                   [(ngModel)]="selectedRole">
        </ng-select>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="mb-1 mt-1" align="end">
    <button type="submit" class="btn add-btn mt-1" [disabled]="fg.invalid">
      Save
    </button>
    <button type="button" class="btn mt-1 close-btn" (click)="cancelUser()">
      Cancel
    </button>
  </mat-dialog-actions>
</form>