.close-button {
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

button {
  border-radius: 9999px;
  font-size: 12px;
}
.first::first-letter {
  text-transform: uppercase;
}
