<mat-toolbar class="mat-elevation-z5">
  <mat-toolbar-row>
    <span
      ><img
        src="./assets/tanla.jpg"
        alt=""
        style="height: 60px; width: 80px"
      /><b style="font-size: 30px" class="mt-1">tanla</b></span
    >

    <!-- <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row">
        <li class="mt-1">
          <button mat-button>
            <mat-icon>notifications_none</mat-icon>
          </button>
        </li>
        <li class="mt-1">
          <button mat-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <div class="profile-card">
            <img
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Revathy"
            />
          </div>
        </li>
        <li class="mt-1 ml-3"><span>Revathy</span></li>
      </ul>
    </div> -->
  </mat-toolbar-row>
</mat-toolbar>
