<div style="background-color: white">
  <h1 style="padding-left: 1%; padding-top: 1%; color: #3a3a3a">
    Admin/User
    <span style="right: 0; position: absolute; margin-right: 1rem">
      <button
        type="button"
        class="btn adminCreate"
        (click)="createUser()"
        style="background: #2d69eb; color: white; margin-right: 1rem">
        Create User&nbsp;
        <i class="fa fa-user fa-1x"></i>
      </button>
      <button
        type="button"
        class="btn adminCreate"
        (click)="goToAudit()"
        style="background: #2fd9a7; color: white">
        Go to Audit&nbsp;
        <i class="fa fa-history fa-1x"></i>
      </button>
    </span>
  </h1>
  <mat-divider class="mt-3"></mat-divider>
</div>
<!-- <div class="row" style="padding: 1%">

  <div class="col-lg-12">
    <table>
      <thead>
        <tr style="color: blue">
          <th class="sno">SNo.</th>
          <th>User Name</th>
          <th>Email ID</th>
          <th>Employee No</th>
          <th>Department</th>
          <th>Phone No</th>
          <th>Designation</th>
          <th>Active/Inactive</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr #radio *ngFor="let item of userList | slice: (page - 1) *
          pageSize:page * pageSize">
          <td>{{ item.userid }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.emailId }}</td>
          <td>{{ item.employeeNo }}</td>
          <td>{{ item.dept }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.designation }}</td>
          <td>{{ item.ActiveDeActive }}&nbsp;
            <span *ngIf="item.ActiveDeActive === 'Inactive'">
              <i [matTooltip]="item.reason" matTooltipPosition="right" class="fa
                fa-info-circle" aria-hidden="true"></i></span>
          </td>
          <td>
            <button style="background: blue; color: white" mat-raised-button
              (click)="modifyUser(item.userid)">
              <i class="fa fa-edit" style="font-size: 1.5rem; color: white;"></i>&nbsp;
              Modify
            </button>
          </td>
          <td>
                        <button mat-button (click)="deactivateUser(item.userid)">
              <mat-icon style="color: red">remove_circle</mat-icon> Deactivate
            </button>
                    </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<div class="row" style="padding: 1%">
  <div class="col-lg-12" *ngIf="noRecords">
      <mat-card>
          <div style="text-align: center">
              <img style="height: 300px; width: 300px" src="assets/no_files_records_256.png" alt="" />
          </div>
          <div style="text-align: center">
              <h1 style="color: #2d69eb">No Records Found</h1>
          </div>
      </mat-card>
    </div>
  <div class="col-lg-12" *ngIf="!noRecords">
      <div class="row" style="padding: 1%">
          <div class="col-lg-12">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="userid">
                      <th class="sno" mat-header-cell *matHeaderCellDef>SNo.</th>
                      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                  </ng-container>
                  <ng-container matColumnDef="username">
                      <th mat-header-cell *matHeaderCellDef>User Name</th>
                      <td mat-cell *matCellDef="let element">
                          {{ element?.name }}
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="emailId">
                      <th mat-header-cell *matHeaderCellDef>Email ID</th>
                      <td mat-cell *matCellDef="let element">
                          {{ element.emailId }}
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="employeeNo">
                      <th mat-header-cell *matHeaderCellDef>Employee No</th>
                      <td mat-cell *matCellDef="let element">
                          {{ element.employeeNumber }}
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="dept">
                    <th mat-header-cell *matHeaderCellDef>Department</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.department }}
                    </td>
                </ng-container>
                  <ng-container matColumnDef="phone">
                      <th mat-header-cell *matHeaderCellDef>Phone No</th>
                      <td mat-cell *matCellDef="let element">
                          {{ element.phoneNo }}
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="designation">
                      <th mat-header-cell *matHeaderCellDef>Designation</th>
                      <td mat-cell *matCellDef="let element">
                          {{ element.designation }}
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="ActiveDeActive">
                      <th mat-header-cell *matHeaderCellDef>Active/Inactive</th>
                      <td mat-cell *matCellDef="let element">
                          {{ element.isActive === '0' ? 'Inactive' : 'Active' }}&nbsp;
                          <span *ngIf="element.isActive === '0'">
                            <i matTooltip="Sample Reason" matTooltipPosition="right" class="fa
                              fa-info-circle" aria-hidden="true"></i></span>
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef>Action</th>
                      <td mat-cell *matCellDef="let element">
                        <button style="background: blue; color: white" mat-raised-button
                        (click)="modifyUser(element.id)">
                        <i class="fa fa-edit" style="font-size: 1.5rem; color: white;"></i>&nbsp;
                        Modify
                      </button> 
                      </td>
                  </ng-container>
                  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
          </div>
      </div>
  </div>
</div>