table {
  width: 100%;
  background: white;
}

.adminCreate {
  padding: 10px;
  border-radius: 9999px;
  font-size: 15px;
}

.mat-header-cell {
  font-size: 15px;
  color: blue;
  font-weight: bolder;
  padding-left: 0.5rem;
}

.mat-cell {
  font-size: 15px;
  font-weight: 400;
  padding-left: 0.5rem;
}

th {
  font-size: 1rem;
}

th,
td {
  border: solid 1px rgba(206, 202, 202, 0.3);
  padding: 0.8rem;
}

.apply-btn {
  border: none;
  background-color: #2fd9a7;
  color: white;
  margin-right: 1rem;
  width: 5rem;
}
