table {
  width: 100%;
  background: white;
}

button {
  border-radius: 9999px;
  font-size: 15px;
}

.input-group {
  width: 35%;
}

.wid {
  width: 45%;
}

#fileName::-webkit-search-cancel-button{
  position:relative;
  right:20px;    
}

.mat-header-cell {
  font-size: 1rem;
  color: blue;
  font-weight: 500;
  padding-left: 0.5rem;
}
th {
  font-size: 1rem;
}

.mat-cell {
  font-size: 15px;
  font-weight: 400;
  padding-left: 0.5rem;
}

th,
td {
  border-right: solid 1px rgb(206, 202, 202);
  border-left: solid 1px rgb(206, 202, 202);
}

.error-snackbar {
  background-color: red;
  color: white;
}

.upload-btn {
  border: none;
  background-color: #069c33;
  color: white;
  height: 3rem;
  width: 10%;
}

.relative {
  padding: 10px;
  position: relative;
  margin: 10px;
}

.loader-text {
  right: 60px;
  position: relative;
  top: 15px;
  font-size: larger;
  font-weight: 100;
  color: #007fad;
}

.loader-top {
  top: 45%;
  left: 50%;
  position: absolute;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: URL('assets/icons8-close.svg');
  cursor: pointer;
 }

 :host::ng-deep.ng-select .ng-select-container {
  border-radius: 9999px !important;
    border: 1px solid #ced4da;
    font-size: 15px;
}