<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h1 class="text-center" style="color: blue" mat-dialog-title>Create Survey</h1>
<form [formGroup]="fg" (ngSubmit)="saveSurvey()">
  <mat-dialog-content class="mat-typography">
    <div class="container">
      <div class="row">
        <div class="col-6" *ngIf="!data" >
          <div class="form-group">
            <h2 class="mb-2" for="name">Survey type:</h2>
            <ng-select
              [items]="serviceType"
              [multiple]="false"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Select survey type"
              [(ngModel)]="selectedService"
            >
            </ng-select>
          </div>
        </div>
        <div class="col-6" *ngIf="data">
          <div class="form-group">
            <h2 class="mb-1" for="name">Survey type:</h2>
            <h3 class="mb-1" for="name">{{ data.surveyType }}</h3>
          </div>
        </div>

        <div class="col-6" *ngIf="!data">
          <div class="form-group">
            <h2 class="mb-2" for="name">Survey name:</h2>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">{{
                  selectedService ? selectedService : "service"
                }}</span>
              </div>
              <input
                class="form-control"
                id="exampleFormControlTextarea1"
                placeholder="Enter your survey name here...."
                formControlName="name"
                name="name"
                aria-describedby="basic-addon3"
              />
            </div>
          </div>
        </div>
        <div class="col-6" *ngIf="data">
          <div class="form-group">
            <h2 class="mb-2" for="name">Survey name:</h2>
            <h3 class="mb-1" for="name">{{ data.surveyName }}</h3>
          </div>
        </div>
        <div class="col-6" *ngIf="data">
          <div class="form-group">
            <h2 class="mb-2" for="name">Survey period:</h2>
            <h3 class="mb-2" for="name">
              {{ data.fromDate }} - {{ data.toDate }}
            </h3>
          </div>
        </div>
        <div class="col-6" *ngIf="data">
          <div class="form-group">
            <h2 class="mb-2" for="name">Category:</h2>
            <h3 class="mb-2" for="name">{{ data.catagoryName }}</h3>
          </div>
        </div>
      </div>
      <div *ngIf="!data" class="form-group">
        <h2 class="mb-2" for="name">Survey period:</h2>
        <mat-form-field appearance="outline">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [min]="minDate" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div *ngIf="!data" formArrayName="category">
        <label style="font-size: 1.2rem; font-weight: 500">Category:</label>
        &nbsp; &nbsp;
        <button type="button" class="btn add-btn mb-2" (click)="addcategory()">
          Add <i class="fa fa-plus fa-1x"></i>
        </button>
        <div
          class="row"
          *ngFor="let category of fg.get('category')['controls']; index as i"
          [formGroupName]="i"
        >
          <div class="col-lg-11">
            <div class="form-group">
              <textarea [readOnly]="fileContent"
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="1"
                placeholder="Enter your category here...."
                formControlName="category"
                name="category"
              ></textarea>
              <br />
            </div>
          </div>
          <div
            class="col-lg-1"
            *ngIf="fg.get('category')['controls'].length > 1"
          >
            <button mat-button (click)="removecategory(i)">
              <mat-icon style="color: red">remove_circle</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <span
        *ngIf="!data"
        class="input-group col-lg-3"
        style="padding-bottom: 1rem"
      >
        <input type="search"
          id="fileName"
          class="form-control"
          name="fileName"
          [(ngModel)]="fileName"
          placeholder="Upload csv file"
          aria-label="Search"
          [ngModelOptions]="{ standalone: true }"
        />
        <input
          type="file"
          id="file"
          (change)="changeListener($event.target.files)"
          style="display: none"
        />
        <button [disabled]="!selectedService || !fg.value.name ? true : null"
          type="button"
          class="btn"
          (click)="fileUpload()"
          style="background: #2d69eb; color: white; margin-right: 1rem"
        >
          <img src="assets\tanla_upload_128.svg" alt="" />
          Attach Survey
        </button>
      </span>
    </div>
  </mat-dialog-content>
  <div *ngIf="!data" class="row">
    <div class="col-6">
      <button
        type="button"
        class="btn m-2"
        (click)="downloadTemplate()"
        style="background: #2d69eb; color: white"
      >
        <img src="assets/tanla_download_128.svg" alt="" />
        Questionnaire Template
      </button>
    </div>
    <div class="col-6">
      <mat-dialog-actions class="mb-1 mt-1" align="end">
        <button type="submit" class="btn add-btn mt-1" [disabled]="fg.invalid && !fileContent">
          Save
        </button>
        <button
          type="button"
          class="btn mt-1"
          style="background-color: grey; color: white; width: 6rem"
          (click)="cancelSurvey()"
        >
          Cancel
        </button>
      </mat-dialog-actions>
    </div>
  </div>
  <div style="text-align: right;" *ngIf="data">
    <button
      type="button"
      class="btn m-2"
      (click)="downloadQuestion(data.surveyName)"
      style="background: #2d69eb; color: white"
    >
      <img src="assets/tanla_download_128.svg" alt="" />
      Questionnaire Download
    </button>
  </div>
</form>
