.form-control {
  border-radius: 9999px;
  border: 1px solid #8080804f;
  font-size: 15px;
}

button {
  padding: 10px;
  border-radius: 9999px;
  border: 1px solid #8080804f;
  font-size: 15px;
}

.funkystyling {
  background: white url(/assets/tanla_calendar_grey_128.svg) right no-repeat;
  padding-right: 25px;
}

.align {
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.submit-btn {
  border: none;
  background-color: #069c33; 
  color: white;
  font-size: 1.2rem;
  margin-right: 0.35rem;
  padding: 0.3rem;
}

.btn {
  width: 12%;
}

select[readonly]{
  background: #eee;
  cursor:no-drop;
}

select[readonly] option{
  display:none;
}

::ng-deep.ng-select .ng-select-container {
  border-radius: 9999px !important;
    border: 1px solid #8080804f;
    font-size: 15px;
}