<div style="background-color: white">
  <h1 style="padding-left: 1%; padding-top: 1%; font-weight: bold;">
    Configuration
  </h1>
  <mat-divider></mat-divider>
</div>
<div class="row" style="padding: 1%">
  <div class="col-lg-12">
    <mat-card>
      <mat-card-content>
        
          
            <form class="form-inline" #form="ngForm" (ngSubmit)="submit()">
              <div class="row p-4">
                 <div class="form-group col-6">
                <label for="company"
                  ><h2 style="font-size: 1rem; margin: 0 0 3px">
                    Select Survey:
                  </h2></label
                >
                <select class="form-control form-select mb-3" (change)="showSurvey($event)" id="survey" name="selected_survey" [(ngModel)]="data.selected_survey">
                  <option selected value="">Select Survey Name</option>
                  <option *ngFor="let item of surveyList; index as i" value="{{item}}">{{item}}</option>
                </select>
              </div>
              <div class="form-group col-6">
                <label for="company"
                  ><h2 style="font-size: 1rem; margin: 0 0 3px">
                    Select Company:
                  </h2></label
                >
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-label>Companies</mat-label>
                  <mat-select panelClass="my-panel-class" placeholder="Select companies" (selectionChange)="showCompany($event.value)" [disabled]="!surveyList" multiple disableOptionCentering>
                    <mat-option
                     *ngFor="let company of companyList" overlayPanelClass="test" [value]="company">{{company}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <select [disabled]="!survey" class="form-control form-select mb-3" (change)="showCompany($event)" id="company" name="selected_company" [(ngModel)]="data.selected_company">
                  <option selected value="">Select Company Name</option>
                  <option *ngFor="let item of companyList; index as i" value="{{item}}">{{item}}</option>
                </select> -->
                <!-- <ng-select class="test" [items]="companyList" [disabled]="!survey"
                   (change)="showCompany($event)"
                   [multiple]="true"
                   [ngModelOptions]="{standalone: true}"
                   placeholder="Select companies"
                   [(ngModel)]="data.selected_company">
        </ng-select> -->
              </div>
              <div class="form-group col-6">
                <label for="skip"
                  ><h2 style="font-size: 1rem; margin: 0 0 3px">
                    Skip Limit:
                  </h2></label
                >
                <input [readonly]="survey ? false : true"
                  type="number"
                  class="form-control"
                  id="skip"
                  placeholder="Skip Limit"
                  name="limit"
                  [(ngModel)]="data.skip_limit"
                />
              </div>              
              <br />
              <div class="form-group col-6">
                <label for="expiry"
                  ><h2 style="font-size: 1rem; margin: 0 0 3px">
                    Expiry Limit:
                  </h2></label
                >
                <input [disabled]="!company"
                  class="form-control"
                  [ngClass]="{ 'funkystyling': company }"
                  placeholder="Expiry Limit"
                  [min]="minDate"
                  [matDatepicker]="picker"
                  (click)="picker.open()"
                  name="expiry_limit"
                  [(ngModel)]="data.expiry_limit"
                />
                <span class="input-group-addon">
                  <mat-datepicker #picker></mat-datepicker>
                </span>
              </div>
              </div>
              
              <div class="align">
                <div class="mt-2">
                  <button type="submit" class="btn btn-primary btn-lg submit-btn">
                    Submit
                  </button>
                  <button style="background-color: #004cf1; font-size: 1.2rem; padding: 0.3rem; color: white;" class="btn btn-primary btn-lg submit-btn" type="button" (click)="close()">
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          
        
      </mat-card-content>
    </mat-card>
  </div>
</div>
