<mat-nav-list style="display:list-item;">
    <div style="text-align: center;">
        <a mat-list-item #rla0="routerLinkActive" routerLinkActive="nav-active" routerLink="/dashboard" [routerLinkActiveOptions]="{ exact: true }">
            <img class="center" *ngIf="!rla0.isActive" src="./assets/tanla_dashboard_grey_128.svg" alt="">
            <img class="center" *ngIf="rla0.isActive" src="./assets/tanla_dashboard_red_128.svg" alt="">
            <br>Dashboard</a>
    </div>
    <mat-divider></mat-divider>
    <div style="text-align: center;">
        <a mat-list-item #rla1="routerLinkActive" routerLinkActive="nav-active" routerLink="/feedbackReport"><img class="center" *ngIf="!rla1.isActive" src="./assets/tanla_feedback_grey_128.svg" alt="">
            <img class="center" *ngIf="rla1.isActive" src="./assets/tanla_feedback_red_128.svg" alt="">
            <br>Feedback <br>Report</a>
    </div>
    <mat-divider></mat-divider>
    <div style="text-align: center;">
        <a mat-list-item #rla5="routerLinkActive" routerLinkActive="nav-active" routerLink="/survey"><img class="center" *ngIf="!rla5.isActive" src="./assets/tanla_survey_grey_128.svg" alt="">
            <img class="center" *ngIf="rla5.isActive" src="./assets/tanla_survey_red_128.svg" alt="">
            <br>Survey <br>Creation</a>
    </div>
    <mat-divider></mat-divider>
    <div style="text-align: center;">
        <a mat-list-item #rla2="routerLinkActive" routerLinkActive="nav-active" routerLink="/questionnaire"><img class="center" *ngIf="!rla2.isActive" src="./assets/tanla_masters_grey_128.svg" alt="">
            <img class="center" *ngIf="rla2.isActive" src="./assets/tanla_masters_red_128.svg" alt="">
            <br>Questionnaire</a>
    </div>
    <mat-divider></mat-divider>
    <div style="text-align: center;">
        <a mat-list-item #rla4="routerLinkActive" routerLinkActive="nav-active" routerLink="/respondentMasters"><img class="center" *ngIf="!rla4.isActive" src="./assets/tanla_respondent_grey_128.svg" alt="">
            <img class="center" *ngIf="rla4.isActive" src="./assets/tanla_respondent_red_128.svg" alt="">
            <br>Respondent <br> Master</a>
    </div>
    <mat-divider></mat-divider>    
    <div style="text-align: center;">
        <a mat-list-item #rla3="routerLinkActive" routerLinkActive="nav-active" routerLink="/configuration"><img class="center" *ngIf="!rla3.isActive" src="./assets/tanla_configuration_grey_128.svg" alt="">
            <img class="center" *ngIf="rla3.isActive" src="./assets/tanla_configuration_128.svg" alt="">
            <br>Configuration</a>
    </div>
    <mat-divider></mat-divider>
    <div style="text-align: center;">
        <a mat-list-item #rla6="routerLinkActive" routerLinkActive="nav-active" routerLink="/admin"><img class="center" *ngIf="!rla6.isActive" src="./assets/tanla_admin_red_128.svg" alt="">
            <img class="center" *ngIf="rla6.isActive" src="./assets/tanla_admin_128.svg" alt="">
            <br>Admin</a>
    </div>
    <mat-divider></mat-divider>
</mat-nav-list>