table {
    width: 100%;
    background: white;
}

.header {
    font-size: 1rem;
    color:#1e7eae;
    height: 3rem;
    border-right: 1px solid rgba(192, 186, 186, 0.3);
    box-sizing: border-box;
}

th {
    font-size: 15px;
    font-weight: 500;
}

button {
    border-radius: 9999px;
    font-size: 15px;
}

th,
td {
    border: 1px solid rgba(192, 186, 186, 0.3);
    border-collapse: collapse;
    padding-left: 0.5rem;
}

.align {
    text-align: right;
}

.fa-edit:before,
.fa-pencil-square-o:before {
    font-size: 1.3rem;
    color: dodgerblue;
}

.set-border {
    border-bottom: 1px solid rgba(192, 186, 186, 0.3);
    box-sizing: border-box;
}

.set-border-right {
    border-right: 1px solid rgba(192, 186, 186, 0.3);
    box-sizing: border-box;
}

.styleHead {
    position: relative;
    top: 1rem;
}

.row {
    --bs-gutter-x: 1rem;
}

.loader-text {
    right: 60px;
    position: relative;
    top: 15px;
    font-size: larger;
    font-weight: 100;
    color: #007fad;
  }
  
  .loader-top {
    top: 45%;
    left: 50%;
    position: absolute;
  }

  :host::ng-deep.ng-select .ng-select-container {
    border-radius: 9999px !important;
      border: 1px solid #ced4da;
      font-size: 15px;
  }