<div class="col-lg-12 row" style="background-color: white;">
    <div class="col-3 mt-2" style="padding-left: 1.5rem;">
        <h1 style="padding-left: 2%; padding-top: 1%; font-weight: bold;">Questionnaire</h1>
    </div>
    <div class="col-4 mt-3">
        <form class="example-form">
            <ng-select [items]="surveyNameList" [disabled]="!survey"
                   [multiple]="false"
                   [ngModelOptions]="{standalone: true}"
                   placeholder="Select survey"
                   [(ngModel)]="selectedSurvey">
        </ng-select>
            <!-- <input
              class="form-control"
              id="survey"
              [formControl]="myControl"
              style="
                font-family: FontAwesome, Arial;
                font-style: normal;
                border-radius: 20px !important;
              "
              placeholder="&#xF002; Search by Survey Name"
              [matAutocomplete]="auto8"
            />
            <mat-autocomplete #auto8="matAutocomplete">
              <mat-option
                *ngFor="let search of filteredOptions | async"
                [value]="search"
              >
                <span>{{ search }}</span>
              </mat-option>
            </mat-autocomplete> -->
          </form>
    </div>
    <div class="col-3 mt-3">
        <button type="submit" (click)="surveyApply(selectedSurvey)" class="btn btn-primary apply-btn">Apply</button>
    </div>
    <div class="col-lg-2 mt-3" *ngIf="role">
        <button (click)="createQuestion()" style="background-color: #1e7eae;" class="btn btn-primary">Create Question &nbsp;
      <i class="fa fa-plus-square fa-1x"></i>
    </button>
    </div>
    <mat-divider class="mt-2"></mat-divider>
</div>
<div *ngIf="isLoad" class="loader-top">
    <mat-spinner class="loader" diameter="50"></mat-spinner>
    <span class="loader-text">Loading... Please wait</span>
  </div>
<div class="row" style="padding: 1%">
    <div class="col-lg-12" *ngIf="noRecords">
        <mat-card>
          <div style="text-align: center">
            <img
              style="height: 300px; width: 300px"
              src="assets/no_files_records_256.png"
              alt=""
            />
          </div>
          <div style="text-align: center">
            <h1 style="color: #1e7eae">No Records Found</h1>
          </div>
        </mat-card>
      </div>
    <div *ngIf="!noRecords" class="col-lg-12">
            <table cellSpacing="20">
                <tr>
                    <th class="header sno">S/N</th>
                    <th class="header">Category</th>
                    <th class="header">
                        <div class="row col-12">
                            <div class="col-6 header set-border-right text-center">
                                <div class="styleHead">Question</div>
                            </div>
                            <div class="col-3 set-border-right text-center">
                                <div class="styleHead">Answer</div>
                            </div>
                            <div *ngIf="role" class="col-1 set-border-right text-center">
                                <div class="styleHead">Score</div>
                            </div>
                            <div *ngIf="!role" class="col-1 text-center">
                                <div class="styleHead">Score</div>
                            </div>
                            <div class="col-2 text-center" *ngIf="role">
                                <div class="styleHead">Action</div>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr *ngFor="let data of datas; index as i">
                    <th>{{ i+1 }}</th>
                    <th>{{ data.category}}</th>
                    <th>
                        <div class="row col-12" [ngClass]="{ 'set-border': data.questions.length !== i+1 }" *ngFor="let question of data.questions; index as i">
                            <div class="col-6 set-border-right">
                                <div class="row col-12">
                                    <div class="col-8">
                                        {{ question.question }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 set-border-right" style="padding-left: 1rem;">
                                <div *ngFor="let answer of question.answers; index as j">
                                    <div class="row">
                                        {{alpha[j]}}. {{ answer.answer }}
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div *ngIf="role" class="col-1 set-border-right" style="padding-left: 2.5rem;">
                                <div *ngFor="let answer of question.answers; index as j">
                                    <div class="row">
                                        {{ answer.score }}
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div *ngIf="!role" class="col-1" style="padding-left: 2.5rem;">
                                <div *ngFor="let answer of question.answers; index as j">
                                    <div class="row">
                                        {{ answer.score }}
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="col-2" *ngIf="role">
                                <button mat-button (click)="editQuestion(data.category, question.id)">
                                    <i class="fa fa-edit" style="font-size: 15px; color: rgb(75, 151, 238);"></i> Edit
                </button>
                                <button mat-button (click)="removeQuestion(data.category, question.id)">
                  <mat-icon style="color: red; font-size: 15px; padding-top: 5px;">remove_circle</mat-icon> Delete
                </button>
                            </div>
                        </div>
                    </th>
                </tr>
            </table>

    </div>
</div>
