.mat-spinner-green-color::ng-deep circle {
  stroke: green !important;
}

.mat-spinner-orange-color::ng-deep circle {
  stroke: orange !important;
}

.mat-spinner-red-color::ng-deep circle {
  stroke: red !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-button-row {
  display: table-cell;
  text-align: end;
}

.example-button-row .mat-button-base {
  margin: 0px 8px 0px 0;
}

button {
  border-radius: 9999px;
}

.mat-raised-button {
  padding-right: 1rem;
  padding-left: 0px;
}

#toast-container > div {
  opacity:1;
}

.toast-bootstrap-compatibility-fix {
  opacity:1;
}

.blue{
  color: #0b1d44;
}

.grey {
  color: black;
}

:ng-deep.ng-select .ng-select-container {
  border-radius: 9999px !important;
    border: 1px solid #ced4da;
    font-size: 15px;
}
::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0em;
}
.loader-text {
right: 60px;
position: relative;
top: 15px;
font-size: larger;
font-weight: 100;
color: #007fad;
}

.loader-top {
top: 45%;
left: 90%;
position: absolute;
}

@media (min-width: 1300px) and (max-width: 1400px) {
.npsScore {
  font-size: 1.3rem !important;
}
}
@media (min-width: 1200px) and (max-width: 1299px) {
.npsScore {
  font-size: 1.2rem !important;
}
}
