<div style="background-color: white">
  <h1 style="padding-left: 1%; padding-top: 1%; font-weight: bold">
    Dashboard
  </h1>
  <mat-divider></mat-divider>
</div>
<div class="pt-2"><b style="padding-left: 1rem; font-size: 1.3rem;">Survey Title - {{latestSurvey}}</b></div>
<div class="row" style="padding: 1%">
  <div class="col-lg-3">
    <mat-card style="height: 10rem">
      <mat-card-title-group>
        <mat-card-title>
          <h1 style="color: #3cb371"><b>Promoter</b></h1>
          <br />
          <h1 style="color: #3cb371; font-size: 25px">
            <b><img src="assets/tanla_respondent_promoters_128.svg" alt="" /> {{ proCount }}</b>
          </h1>
        </mat-card-title>
        <circle-progress
          [percent]="promotersPercentage"
          [radius]="55"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#3CB371'"
          [innerStrokeColor]="'#90EE90'"
          [animation]="true"
          [titleFontSize]="30"
          [unitsFontSize]="25"
          [showTitle]="true"
          [animationDuration]="300"
        ></circle-progress>
      </mat-card-title-group>
    </mat-card>
  </div>
  <div class="col-lg-3">
    <mat-card style="height: 10rem">
      <mat-card-title-group>
        <mat-card-title>
          <h1 style="color: #ef820d"><b>Passive</b></h1>
          <br />
          <h1 style="color: #ef820d; font-size: 30px">
            <b><img src="assets/tanla_respondent_passive_128.svg" alt="" />{{ pasCount }}</b>
          </h1>
        </mat-card-title>
        <circle-progress
          [percent]="passivesPercentage"
          [radius]="55"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#ef820d'"
          [innerStrokeColor]="'#FFE5B4'"
          [animation]="true"
          [titleFontSize]="30"
          [unitsFontSize]="25"
          [showTitle]="true"
          [animationDuration]="300"
        ></circle-progress>
      </mat-card-title-group>
    </mat-card>
  </div>
  <div class="col-lg-3">
    <mat-card style="height: 10rem">
      <mat-card-title-group>
        <mat-card-title>
          <h1 style="color: #dc143c"><b>Detractor</b></h1>
          <br />
          <h1 style="color: #dc143c; font-size: 30px">
            <b><img src="assets/tanla_respondent_detractors_128.svg" alt="" />{{ detCount }}</b>
          </h1>
        </mat-card-title>
        <circle-progress
          [percent]="detractorsPercentage"
          [radius]="55"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#DC143C'"
          [innerStrokeColor]="'#CEA09F'"
          [animation]="true"
          [titleFontSize]="30"
          [unitsFontSize]="25"
          [showTitle]="true"
          [animationDuration]="300"
        ></circle-progress>
      </mat-card-title-group>
    </mat-card>
  </div>
  <div class="col-lg-3">
    <mat-card style="height: 10rem">
      <mat-card-title-group>
        <mat-card-title>
          <h1 style="color: rgb(96 134 241)"><b>Overall Score</b></h1>
          <br />
          <h1 style="color: rgb(96 134 241); font-size: 30px">
            <b>{{ totCount }}</b>
          </h1>
        </mat-card-title>
        <circle-progress
          [percent]="overallScore"
          [radius]="55"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'rgb(96 134 241)'"
          [innerStrokeColor]="'rgb(173 169 231 / 50%)'"
          [animation]="true"
          [titleFontSize]="30"
          [unitsFontSize]="25"
          [showTitle]="true"
          [animationDuration]="300"
        ></circle-progress>
      </mat-card-title-group>
    </mat-card>
  </div>
</div>

<div class="row" style="padding: 1%">
  <div class="col-lg-6">
    <mat-card>
      <div *ngIf="isLoad" class="loader-top">
        <mat-spinner class="loader" diameter="50"></mat-spinner>
        <span class="loader-text">Loading... Please wait</span>
      </div>
      <mat-card-title>
        <div class="row pb-2">
          <div style="text-decoration: underline;" class="col-12 pt-2">
            <label>Advanced Filter</label>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content>
        <form class="example-form">
          <div class="row">
            <div class="col-12 mb-2">
              <mat-form-field style="width: 90%; height: 2.9rem;" appearance="outline">
                <mat-label>Date Range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" (dateChange)="endNewDate($event)">
                  <input matEndDate placeholder="End date" (dateChange)="addNewDate($event)" >
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
            <div class="col-12">
             
              <mat-form-field style="width: 90%; border-top-width: 0px;" appearance="outline">
                <mat-label>Survey</mat-label>
                <mat-select style="border-top-width: 0px;" placeholder="Select survey"
                  [formControl]="surveyList" (selectionChange)="changeFn($event.value)" multiple disableOptionCentering>
                  <mat-option *ngFor="let survey of surveyNameList" [value]="survey">{{survey}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field style="width: 90%;" appearance="outline">
                <mat-label>Services</mat-label>
                <mat-select placeholder="Select service" (selectionChange)="changeFn1($event.value)" [formControl]="categoryList" disableOptionCentering multiple>
                  <mat-option *ngFor="let survey of serviceList" [value]="survey">{{survey}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field style="width: 90%;" appearance="outline">
                <mat-label>Questions</mat-label>
                <mat-select placeholder="Select questions" [disabled]="!surveyList" [formControl]="toppings" multiple disableOptionCentering>
                  <mat-option *ngFor="let question of questionList" [value]="question">{{question}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
        <br *ngIf="!date" />
        <div class="row">
          <div class="col-1">
            <img src="assets/tanla_total_respoondent_128.svg" alt="" />
          </div>
          <div class="col-5" [ngClass]="{ 'mb-4': date }">
            <label style="color: grey; font-size: 1rem" for="">
              Total Respondent</label
            >
            <br />
            <label style="color: grey; font-weight: bold; font-size: 1.4rem">
              {{ totalFilRes ? totalFilRes : '-' }}</label
            >
          </div>
          <div class="col-1">
            <img src="assets/tanla_total_respoondent_128.svg" alt="" />
          </div>
          <div class="col-5" [ngClass]="{ 'mb-4': date }">
            <label style="color: grey; font-size: 1rem" for="">
              Average Rating</label
            >
            <br />
            <label style="color: grey; font-weight: bold; font-size: 1.4rem">
              {{ avg ? avg : '-' }}</label
            >
          </div>
          <div class="mt-2" style="align-items: end; text-align: end;">
            <button
              (click)="filter()"
              type="submit"
              style="font-weight: 500"
              class="btn float-right apply-btn"
            >
              Apply
            </button>
            <button
              type="button"
              class="btn float-right"
              (click)="clear()"
              style="
                background: blue;
                color: white;
                right: 0;
                margin-right: 5px;
                width: 5rem;
              "
            >
              Clear
            </button>
          </div>
        </div>
        <br *ngIf="!date" />
        
      </mat-card-content>
    </mat-card>
  </div>
  
  <div class="col-lg-6">
    <mat-card>
      <mat-card-title>
        <div class="row pb-2">
          <div style="text-decoration: underline;" class="col-12 pt-2">
            <label>Response Analysis</label>
          </div>
        </div>
      </mat-card-title>
      <div [hidden]="!chart" style="height: 23.5rem;">
        <canvas id="canvas" responsive=false height="13rem" width="28px"></canvas>  
      </div>
      <div [hidden]="!chart1" style="height: 23.5rem;">
        <canvas id="canvas1" responsive=false height="13rem" width="28px"></canvas>  
      </div>
    </mat-card>
    </div>
</div>
<div class="row" style="padding: 1%">
  <div class="col-lg-12">
    <mat-card>
      <div class="row">
        <div class="col-3">
          <mat-card style="padding: 0 !important; border-radius: 10px">
            <mat-card-header
              style="
                background-color: #3cb371;
                color: white;
                padding-left: 30%;
                border-radius: 10px 10px 0 0;
              "
            >
              <mat-card-title class="pt-3">Promoter</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content
              style="border-radius: 0 0 10px 10px; background-color: #a8e9a842"
              class="text-center"
            >
              <h1 class="p-4">{{ filteredPromo }} %</h1>
              <span
                style="
                  display: block;
                  position: absolute;
                  bottom: 8px;
                  right: 16px;
                "
              >
              </span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-3">
          <mat-card style="padding: 0 !important; border-radius: 10px">
            <mat-card-header
              style="
                background-color: #ef820d;
                color: white;
                padding-left: 30%;
                border-radius: 10px 10px 0 0;
              "
            >
              <mat-card-title class="pt-3">Passive</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content
              style="border-radius: 0 0 10px 10px; background-color: #ffe5b487"
              class="text-center"
            >
              <h1 class="p-4">{{ filteredPassive }} %</h1>
              <span
                style="
                  display: block;
                  position: absolute;
                  bottom: 8px;
                  right: 16px;
                "
              >
              </span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-3">
          <mat-card style="padding: 0 !important; border-radius: 10px">
            <mat-card-header
              style="
                background-color: #dc143c;
                color: white;
                padding-left: 30%;
                border-radius: 10px 10px 0 0;
              "
            >
              <mat-card-title class="pt-3">Detractor</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content
              style="border-radius: 0 0 10px 10px; background-color: #cea09f85"
              class="text-center"
            >
              <h1 class="p-4">{{ filteredDetractor }} %</h1>
              <span
                style="
                  display: block;
                  position: absolute;
                  bottom: 8px;
                  right: 16px;
                "
              >
              </span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-3">
          <mat-card style="padding: 0 !important; border-radius: 10px">
            <mat-card-header
              style="
                background-color: rgb(96 134 241);
                color: white;
                padding-left: 25%;
                border-radius: 10px 10px 0 0;
              "
            >
              <mat-card-title class="pt-3">Overall Score</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content
              style="
                border-radius: 0 0 10px 10px;
                background-color: rgb(173 169 231 / 31%);
              "
              class="text-center"
            >
              <h1 class="p-4">{{ filteredOverall }} %</h1>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>
</div>