.mat-spinner-green-color::ng-deep circle {
    stroke: green !important;
}

.mat-spinner-orange-color::ng-deep circle {
    stroke: orange !important;
}

.mat-spinner-red-color::ng-deep circle {
    stroke: red !important;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-button-row {
    display: table-cell;
    width: 790px;
    text-align: end;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

button {
    border-radius: 9999px;
}

.mat-raised-button {
    padding-right: 1rem;
    padding-left: 0px;
}