<div class="login_container">
    <div class="row contain">
        <div class="col-lg-3 col-md-6"></div>
        <div
            class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-container"
            style="background-color: white">
            <img style="width: 10rem; margin-left: -1rem; padding-bottom: 1rem;" src="./assets/cropped-Twixor_logo.png" alt="" />
            <form
                class="col-12"
                style="background-color: white"
                [formGroup]="fg"
                (ngSubmit)="submit()">
                <div class="">
                    <div class="">
                        <h1 class="mb-4"><b>Reset Password</b></h1>
                        <div>
                            <label class="label">Email ID</label>

                            <div class="">
                                <input
                                    type="email"
                                    class="margin"
                                    placeholder="Enter your Email id"
                                    name="email"
                                    formControlName="email"
                                    />
                            </div>
                        </div>
                        <div>
                            <label class="label">Current Password</label>

                            <div class="">
                                <input
                                    type="password"
                                    class="margin"
                                    placeholder="Enter your current Password"
                                    name="password"
                                    formControlName="password"
                                    />
                            </div>
                        </div>
                        <div class="">
                            <label class="label">New Password</label>
                            <div class="">
                                <input
                                    type="password"
                                    class="margin"
                                    placeholder="Enter your new Password"
                                    name="passwordNew"
                                    formControlName="passwordNew"
                                    />
                            </div>
                            <div
                                *ngIf="f.passwordNew.invalid &&
                                (f.submitted || f.passwordNew.touched)"class="alert
                                alert-danger">
                                <div *ngIf="f.passwordNew.errors.pattern">
                                    Your password must contain minimum 6
                                    characters with special
                                    characters
                                </div>
                            </div>
                            <div *ngIf="(f.submitted || f.passwordNew.touched)">
                                <div *ngIf="f.passwordNew.value === f.password.value" class="alert
                                alert-danger">
                                    Your new password must not be old password
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="label">Confirm New Password</label>
                            <div class="">
                                <input
                                    pattern="{{ f.passwordNew.value }}"
                                    type="password"
                                    class="margin"
                                    placeholder="Confirm your new Password"
                                    name="passwordConfirm"
                                    formControlName="passwordConfirm"
                                    />
                                <div
                                    *ngIf="f.passwordConfirm.invalid &&
                                    (f.submitted || f.passwordConfirm.touched)">
                                    <div
                                        *ngIf="f.passwordConfirm.errors.pattern" class="alert
                                        alert-danger">
                                        New Password & Confirm Password does not
                                        match.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12 text-center">
                        <button
                            type="submit"
                            class="btn submit-btn mb-1"
                            [disabled]="fg.invalid || f.passwordNew.value === f.password.value">
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mb-2 footer">
    <b>© Copyright 2022, Tanla, all rights reserved</b>
</div>
